<div class="container">
  <!-- rubric04 The user should see some text welcoming them to the website -->
  <div class="jumbotron">
    <h1>Welcome to Cloud Mall Supermarket</h1>
    <p class="lead">See the featured content below and go direct to shopping!</p>
  </div>
  <!-- rubric06 The user should see a toggle switch labeled “Toggle Slide Show” -->
  <!-- rubric10 If the “Toggle Slide Show” switch is checked, the product carousel should automatically move forward one slide every 3 seconds -->
  Toggle Slide Show<input type="checkbox" [(ngModel)]="automatic" (change)="showSlides(slideIndex, true)">
  <div class="slideshow-container">

    <!-- rubric11 Whenever the product carousel changes slide, it should do in an animated way -->
    <div class="mySlides fade-animation">
      <div class="numbertext">1 / 3</div>
      <div class="row slide-1">
        <div class="col-6">
          <a [routerLink]="['/product/Apricot']">
            <img src="https://webmppcapstone.blob.core.windows.net/fruitsimages/apricot.jpg" class="vcenter">
          </a>
        </div>
        <div class="col-6">
          <a [routerLink]="['/product/Avocado']">
            <img src="https://webmppcapstone.blob.core.windows.net/fruitsimages/avocado.jpg">
          </a>
        </div>
      </div>
    </div>

    <div class="mySlides fade-animation">
      <div class="numbertext">2 / 3</div>
      <div class="row slide-2">
        <div class="col-sm">
            <a [routerLink]="['/product/Beauty Soap Bar']">
              <img src="https://webmppcapstone.blob.core.windows.net/house-royaltyfree/soap.png " class="vcenter">
            </a>
        </div>
        <div class="col-sm">
          <div class="col-12">
              <a [routerLink]="['/product/Laundry Detergent']">
                <img src="https://webmppcapstone.blob.core.windows.net/house-royaltyfree/detergent.png">
              </a>
          </div>
          <div class="col-12">
              <a [routerLink]="['/product/Apple Juice']">
                <img src="https://webmppcapstone.blob.core.windows.net/beverages-royaltyfree/applejuice.png">
              </a>
            </div>
        </div>
      </div>
    </div>

    <div class="mySlides fade-animation">
      <div class="numbertext">3 / 3</div>
      <div class="container slide-3">
        <div class="row">
          <div class="col-sm">
            <!-- drugstroe badge -->
            <a [routerLink]="['/product/Bandage']">
              <img src="https://webmppcapstone.blob.core.windows.net/drugs-royaltyfree/bandage.png">
            </a>
          </div>
          <div class="col-sm">
              <a [routerLink]="['/product/100 Piece First Aid Kit']">
                <img src="https://webmppcapstone.blob.core.windows.net/drugs-royaltyfree/firstaidkit.png">
              </a>
          </div>
        </div>
        <div class="row">
          <div class="col-sm">
              <a [routerLink]="['/product/Cold Relief Caplets']">
                <img src="https://webmppcapstone.blob.core.windows.net/drugs-royaltyfree/coldpills.png">
              </a>
          </div>
          <div class="col-sm">
              <a [routerLink]="['/product/Air Freshener, Powder Fresh, 8 oz']">
                <img src="https://webmppcapstone.blob.core.windows.net/house-royaltyfree/airfreshner.png">
              </a>
          </div>
        </div>
      </div>
      <!-- <img src="https://www.w3schools.com/howto/img_lights_wide.jpg" style="width:100%"> -->
    </div>

    <!-- rubric02 The user should see a button that resembles a left arrow key to the left of the product carousel -->
    <!-- rubric08 Clicking on the left arrow should move the product carousel one slide back -->
    <a class="prev" (click)="plusSlides(-1)">&#10094;</a>
    <!-- rubric03 The user should see a button that resembles a right arrow key to the right of the product carousel -->
    <!-- rubric07 Clicking on the right arrow should move the product carousel one slide forward. -->
    <a class="next" (click)="plusSlides(1)">&#10095;</a>

  </div>
  <br>

  <div style="text-align:center">
    <span class="dot" (click)="currentSlide(1)"></span>
    <span class="dot" (click)="currentSlide(2)"></span>
    <span class="dot" (click)="currentSlide(3)"></span>
  </div>

  <!-- rubric05 The user should see a button labeled “Shop All” -->
  <button>
    <!-- rubric 12 If the user clicks on the “Shop All” button, the user should be taken to the shopping page -->
    <a [routerLink]="['/shopping']" routerLinkActive="active">Shop All</a>
  </button>
</div>