<!-- <p>
  {{cartItems | json}}
</p> -->
<div class="container" *ngIf="cartItems.length !== 0; else message">
  <div class="row">
    <div class="col-sm">
      <table>
        <tr>
          <th>Item</th>
          <th>Name</th>
          <th>Unit Price</th>
          <th>Quantity</th>
          <th>Total</th>
          <th>Remove</th>
        </tr>
        <!-- rubric47 The user should a table displaying the product image, name, unit price, quantity as an input field,
        total cost, and a remove button for each product in the shopping cart. -->
        <tr *ngFor='let item of cartItems; let i = index'>
          <td><img src="{{item.imagelink}}" alt="item picture"></td>
          <td>{{item.name}}</td>
          <!-- rubric55 The cost column in the table should update if the quantity input field is changed -->
          <td>{{item.price}}</td>
          <td><input type="number" min="0" [value]="item.quantity" name="quantity"
              (input)="updateQuantity($event.target.value, i)"></td>
          <td>$ {{item.quantity*item.price | number : '1.2-2'}}</td>
          <!-- rubric54 The remove button should remove an item from the shopping cart -->
          <td><button (click)="removeItem(i)">Remove</button></td>
        </tr>
      </table>
      <p>Subtotal: {{subtotal | number : '1.2-2'}}</p>
    </div>
    <div class="col-sm">



      <form #form="ngForm" (ngSubmit)="onSubmit(form)" class="main-form needs-validation"
        [class.was-validated]="!formValid">
        <h3>Cart Summary</h3>


        <!-- rubric48  -->
        <h4>Enter Shipping Details</h4>

        <!-- Name -->
        <div class="row">
          <div class="col">
            <div class="form-group">
              <input type="text" name="firstname" id="firstname" class="form-control" placeholder="Firstname" ngModel
                required>
              <!-- rubric52 The form should show validation errors if the form isn’t filled out correctly and the checkout button is pressed -->
              <div class="invalid-feedback">Need your First Name!</div>
              <div class="valid-feedback">Hey that looks better now</div>
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <input type="text" name="lastname" id="lastname" class="form-control" placeholder="Lastname" ngModel
                required>
              <div class="invalid-feedback">Need your Last Name!</div>
              <div class="valid-feedback">Wow are you serious?! Mine too!</div>
            </div>
          </div>
        </div>

        <!-- Address -->
        <div class="form-group">
          <input type="text" name="address" id="address" class="form-control" placeholder="Enter your Address" ngModel
            required>
          <div class="invalid-feedback">Please enter a valid address</div>
          <div class="valid-feedback">Interesting place you know?</div>
        </div>
        <!-- City -->
        <div class="form-group">
          <input type="text" name="city" id="city" class="form-control" placeholder="Enter your City" ngModel required>
          <div class="invalid-feedback">Please enter your city</div>
          <div class="valid-feedback">Wow! Next to mine!</div>
        </div>
        <!-- Phone -->
        <div class="form-group">
          <input type="tel" name="phone" id="phone" class="form-control" placeholder="Phone Number Format: 123-456-7890"
            ngModel pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" required>
          <div class="invalid-feedback">Please enter your phone format: 123-456-7890</div>
          <div class="valid-feedback">I wont call you for anything else</div>
        </div>
        <!-- rubric49 -->
        <!-- rubric53 The cost details section should update -->
        <p>Subtotal: ${{subtotal | number : '1.2-2'}}</p>
        <p>Shipping Cost: $5.99 to all the states!</p>
        <p>Tax: ${{subtotal * .08 | number : '1.2-2'}}</p>
        <p>Total: ${{subtotal * .08 + 5.99 | number : '1.2-2'}}</p>
        <!-- rubric50 The user should see a checkout button -->
        <button type="submit">Checkout!</button>
      </form>
    </div>
  </div>
</div>

<ng-template #message>
  <h1>You haven't added something to your cart!</h1>
</ng-template>