<div class="container shopping-main">
    <div class="row">
        <!-- rubric14 The user shall see a controls bar -->
        <div class="col-2">
            <!-- rubric15 The user shall see a section in the controls bar that displays the selected category name -->
            <!-- rubric27 Clicking on a subcategory should change the name of the selected category in the controls bar -->
            <!-- rubric16 The user shall see a section in the controls bar that displays the number of items shown out of the total number of items in the selected category -->
            <!-- rubric28  -->
            Showing {{itemsFound.items.length}} / {{itemsTotal}} items in {{itemCategory}}
        </div>
        <div class="col-3">
            <!-- rubric17 The user shall see a toggle switch labeled “In Stock Only” in the controls bar -->
            <input type="checkbox" (change)="onStock()" id="onStock" [(ngModel)]="forStock">
            <label for="onStock">Only on Stock</label>
        </div>

        <div class="col-3">
            <!-- rubric18 The user shall see a dropdown list labeled “Sort By” that has the following options: (None, Price, Alphabetical, Rating) in the controls bar -->
            <select>
                <option value="none">None</option>
                <option value="Price">Price</option>
                <option value="Alphabetical">Alphabetical</option>
                <option value="Rating">Rating</option>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <!-- rubric25 Clicking on a category name in the category menu should toggle a dropdown of the available
                subcategories within that category -->
            <div id="accordion">
                <!-- rubric19 The user shall see a category menu that displays all of the available shopping categories -->
                <!-- House and Beauty -->
                <h5 class="mb-0">
                    <button class="btn btn-link" data-toggle="collapse" data-target="#householdAndBeauty"
                        aria-expanded="true" aria-controls="householdAndBeauty">
                        Household and Beauty
                    </button>
                </h5>


                <div id="householdAndBeauty" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                    <div class="card-body">
                        <ul>
                            <li>
                                <button (click)="getItems('Baby Care')">
                                    Baby Care
                                </button>
                            </li>
                            <li>
                                <button (click)="getItems('Drug Store')">
                                    Drug Store
                                </button>
                            </li>
                            <li>
                                <button (click)="getItems('Health and Personal Care')">
                                    Health and Personal Care
                                </button>
                            </li>
                            <li>
                                <button (click)="getItems('Household Supplies')">
                                    Household Supplies
                                </button>
                            </li>
                        </ul>
                    </div>
                </div>

                <!-- Pantry -->
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo"
                        aria-expanded="false" aria-controls="collapseTwo">
                        Pantry Items
                    </button>
                </h5>

                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                    <div class="card-body">
                        <ul>
                            <li>
                                <button (click)="getItems('Beverages')">
                                    Beverages
                                </button>
                            </li>
                            <li>
                                <button (click)="getItems('Canned Food')">
                                    Canned Food
                                </button>
                            </li>
                            <li>
                                <button (click)="getItems('Cooking and Baking Needs')">
                                    Cooking and Baking Needs
                                </button>
                            </li>
                            <li>
                                <button (click)="getItems('Pasta and Noodles')">
                                    Pasta and Noodles
                                </button>
                            </li>
                            <li>
                                <button (click)="getItems('Snacks')">
                                    Snacks
                                </button>
                            </li>
                        </ul>
                    </div>
                </div>

                <!-- Perishables -->
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree"
                        aria-expanded="false" aria-controls="collapseThree">
                        Perishables
                    </button>
                </h5>

                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                    <div class="card-body">

                        <ul>
                            <li>
                                <button (click)="getItems('Bread and Bakery')">
                                    Bread and Bakery
                                </button>
                            </li>
                            <li>
                                <button (click)="getItems('Cheese')">
                                    Cheese
                                </button>
                            </li>
                            <li>
                                <button (click)="getItems('Dairy and Eggs')">
                                    Dairy and Eggs
                                </button>
                            </li>
                            <li>
                                <button (click)="getItems('Frozen Foods')">
                                    Frozen Foods
                                </button>
                            </li>
                        </ul>
                    </div>
                </div>

                <!-- Produce -->
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#Produce"
                        aria-expanded="false" aria-controls="collapseThree">
                        Produce
                    </button>
                </h5>

                <div id="Produce" class="collapse" aria-labelledby="Produce" data-parent="#accordion">
                    <div class="card-body">
                        <ul>
                            <li>
                                <button (click)="getItems('Fruits')">
                                    Fruits
                                </button>
                            </li>
                            <li>
                                <button (click)="getItems('Vegetables')">
                                    Vegetables
                                </button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- rubric26 Clicking on a subcategory should repopulate the grid of products with items from the subcategory that was just clicked. -->
        <div class="col-8">
            <!-- rubric20 The user shall see a grid that is populated with the products of the selected category -->
            <div class="col-3" *ngFor="let item of itemsFound.items">
                <!-- rubric23 Each grid cell shall have an image of the product displayed -->
                <!-- rubric31 If the user clicks on a product image within a grid cell, they should be taken to a product page that is populated with the details of the clicked product -->
                <a routerLink="/product/{{item.name}}">
                    <img src={{item.imagelink}} alt="item picture">
                </a>
                <!-- rubric21 Each grid cell shall have the name of the product displayed -->
                <!-- rubric22 Each grid cell shall have the price of the product displayed -->
                <!-- rubric32 If the user clicks on a product name within a grid cell, they should be taken to a product page
                that is populated with the details of the clicked product -->
                <p> <a routerLink="/product/{{item.name}}">
                        Name: {{item.name}}
                    </a>Price: {{item.price}}</p>
                <p>Stock: {{item.stock}}</p>
                <!-- rubric24 Each grid cell shall have a button labeled “Add” -->
                <button (click)="addToCart(item)">Add</button>
            </div>
        </div>
    </div>
</div>