/* You can add global styles to this file, and also import other style files */
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
}

/***************************
****************************
Layout Styles
****************************
***************************/
/* Content Container*/
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  max-width: 1170px;
}
/* Row */
.row {
  margin-right: -15px;
  margin-left: -15px;
}
/* Row Clear Float*/
.row:after {
  content: "";
  display: table;
  clear: both;
}
/* Media Query excludes extra small devices and includes small and above */
[class*="col-"] {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 48em) {
  [class*="col-"] {
    float: left;
  }
  /* Column Two Thirds */
  .col-2-3 {
    width: 66.6666%;
  }
  /* Column Third */
  .col-1-3 {
    width: 33.3333%;
  }

  .col-1-2 {
    width: 50%;
  }
}

@media (min-width: 48em) {
  .pull-right-sm {
    float: right;
  }
}

@media only screen and (max-width: 47.9375em) {
  .remove-gutter-xs {
    padding-left: 0px;
    padding-right: 0px;
  }
}

/***************************
****************************
Modules
****************************
***************************/

/* Button */
.btn {
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  background-image: none;
  border: 1px solid transparent;
  cursor: pointer;
  padding: 12px 30px;
  font-size: 1.313em;
  font-weight: bold;
  border-radius: 4px;
  text-decoration: none;
  transition: all 0.3s ease 0s;
}
a {
  color: white;
  text-decoration: none;
}
a:hover{
  text-decoration: underline;
}
/***************************
****************************
Fonts 
****************************
***************************/
body {
  font-family: "Nunito Sans", "Roboto", "PT Sans", sans-serif;
}

/***************************
****************************
Theme Styles 

Lively and Inviting from visme.co
****************************
***************************/
.background-primary {
  background: #e7717d;
}
.background-secondary {
  background: #c2cad0;
}
.background-tertiary {
  background: #c2b9b0;
}
.background-quaternary {
  background: #7e685a;
}
.background-quinary {
  background: #afd275;
}
