<footer>
    <ul>
        <!-- rubric73 User shall see a link to the home page -->
        <!-- rubric76 Clicking on the home page link should take the user to the home page -->
        <li><a class="btn" [routerLink]="['/']" routerLinkActive="active">Home</a></li>
        <!-- rubric74 User shall see a link to the about page -->
        <!-- rubric 77 Clicking on the about page link should take the user to the about page -->
        <li><a [routerLink]="['/about']" routerLinkActive="active">About us</a></li>
        <!-- rubric75 User shall see a link to the contact page -->
        <!-- rubric78 Clicking on the contact page link should take the user to the contact page -->
        <li><a [routerLink]="['/contact']" routerLinkActive="active">Contact</a>
        </li>

    </ul>
</footer>